/* ------------- MODIFICACIONES BOOTSTRAP ------------- */

.list-inline{
    margin-left: 0px;
}

.btn{
    font-weight: bold;
    margin-bottom: 0px;
}

.h1, .h2{
    font-weight: bold;
    color: black;
}

.row ul{
    list-style-type: none;
    padding: 0px;
}

.table{
    background-color: white;
}
/* Para los addons de buscar de cada pagina */
.input-group-addon{
    font-weight: bold;
}

/* ------------- AGREGADAS ------------- */

/*Titulos de tabla*/
tr > th{
    text-align: center;
}

/*Nueva clase para el espacio entre titulo y el contenido*/
.marginTitulo{
    margin-bottom: 30px;
}

body{
    background-image: url(../img/fondo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Quitando la margen del bootstrap */
ul, ol{
    margin-bottom: 0px;
}

.margenTopTablas{
    margin-top: 10px;
}